.button {
    -fx-background-color: #c9f1fd;
    -fx-border-color: #006e8c;
    -fx-border-radius: 15;
    -fx-background-radius: 20;
    -fx-border-width: 5;
}
.button:pressed {
    -fx-border-radius: 14;
    -fx-background-radius: 19;
    -fx-border-width: 4;
}
.text-field {
    -fx-border-color: #006e8c;
    -fx-border-width: 1;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}
#anchor {
    -fx-background-color: #a8c6fa;
}
.table-view {
    -fx-border-color: #006e8c;
    -fx-border-width: 5;
    -fx-border-radius: 7;
    -fx-background-radius: 20;
    -fx-background-color: #c9f1fd;
}
.table-view .column-header {
    -fx-background-color: #c9f1fd;
    -fx-border-color: #006e8c;
    -fx-border-radius: 7;
    -fx-border-width: 3;
}
.text-area {
    -fx-background-color: #006e8c;
    -fx-background-size: 5;
    -fx-border-color: #006e8c;
    -fx-border-radius: 10;
}
#bubbles>.label {
    -fx-background-color: #c9f1fd;
    -fx-border-color: #006e8c;
    -fx-border-radius: 15;
    -fx-background-radius: 20;
    -fx-border-width: 3;
    visibility: false;
}
#start-label {
    -fx-background-color: #ffffffaa;
}
#error {
    -fx-background-color: #f2dede;
    -fx-background-radius: 15;
    visibility: false;

    -fx-border-width: 2;
    -fx-border-color: #c62828;
    -fx-border-radius: 15;
}
#emojiButton {
    -fx-background-color: #00000000;
    -fx-border-color: #00000000;
}
#bubbles {
    -fx-vgap: 10;
    -fx-hgap: 5;
}
#leaderboard {
    -fx-vgap: 5;
    -fx-hgap: 7;
}
#leaderboard>.label {
    -fx-background-color: #c9f1fd;
    -fx-border-color: #006e8c;
    -fx-border-radius: 15;
    -fx-background-radius: 20;
    -fx-border-width: 3;
    visibility: true;
    -fx-font-size: 19px;
}
#leaderboard>#UserScore {
    -fx-background-color: #ffd513;
    -fx-border-color: #006e8c;
    -fx-border-radius: 15;
    -fx-background-radius: 20;
    -fx-border-width: 3;
    visibility: false;
    -fx-font-size: 19px;
}
#leaderboard>#UserUsername {
    -fx-background-color: #ffd513;
    -fx-border-color: #006e8c;
    -fx-border-radius: 15;
    -fx-background-radius: 20;
    -fx-border-width: 3;
    visibility: false;
    -fx-font-size: 19px;
}
#leaderboard>#UserPosition {
    -fx-background-color: #ffd513;
    -fx-border-color: #006e8c;
    -fx-border-radius: 15;
    -fx-background-radius: 20;
    -fx-border-width: 3;
    visibility: false;
    -fx-font-size: 19px;
}
#line {
    visibility: false;
}
